
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS variables */

:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);


    /* font family variables */
    --roboto: 'Roboto', sans-serif;
}

/* Global variables */
.title-text{
    font: normal bold 50px var(--roboto);
}

.hide{
	display: none;
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */
.button{
    padding: .8rem 2.2rem;
    font: normal 550 18px/20px var(--roboto);
    position: relative;
    border-width: 2px;
}

/* Fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/Roboto-Medium.ttf);
}
  
/* Navigation */
.header_area {
    align-items: center;
}
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    align-content: center;
    /* padding: 1rem 20rem; */
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--primary-color);
    -webkit-background-clip: text;
    background-clip: text;
}
/* End Navigation */

/* Banner Area */
.main .banner {
   background: url(../img/banner-background.png) no-repeat;
   background-position: 100% 50%;
   background-size:65%;
}
.main .banner .title {
    text-align: center;
}
.main .banner .title h1{
    margin-top: 5%;
    padding-top: 10%;
    font-size: 10rem;
    line-height: 10rem;
}
.main .banner .title h3{
    font-size: 2rem;
    padding-top: 3%;
    font-weight: 500;
}

.main .banner .title .buttons{
    padding: 1rem;
    /* align-self: center; */
}

/* Turn on lines only for large screens */
@media only screen and (min-device-width: 1080px) {
    .main .banner .title .buttons .flex-row::before{
        content: "";
        height: 2px;
        width: 12rem;
        background: black;
        display: inline-block;
        transform: translateY(-3px);
    }
    .main .banner .title .buttons .flex-row::after{
        content: "";
        height: 2px;
        width: 12rem;
        background: black;
        display: inline-block;
        transform: translateY(-3px);
    }
}

/* .main .banner .title h4{
    font-size: 1.5rem;
} */

.main .banner .terminal {
    margin: 2rem 1.5rem 1.5rem 1.5rem;
    width: 50rem;
    height: 15rem;
    border: thick solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #743ad5, #d53a3a);
}


/* End Banner Area */