/* Global Classes */

.title-text{
    font: normal bold 50px 'Roboto', sans-serif;;
}

.hide{
	display: none;
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */
.button{
    padding: .8rem 2.2rem;
    font: normal 550 18px/20px 'Roboto', sans-serif;;
    position: relative;
    border-width: 2px;
}
